body{
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
}
header{
    background-color: #275479;
    color: rgb(255, 255, 255);
    padding: 2px;
    text-align: center;
    margin: 0;
    height: 100px;
    padding-bottom: 5px;
}
#contato{
    color: white;
    text-decoration: none;
    font-size: 18px;
}
#contato:hover{
    text-decoration: underline;
    font-size: 1.15rem;
}